set default=0
set timeout=3
set gfxmode=auto
insmod all_video
insmod gfxterm
terminal_output gfxterm
set color_normal=light-gray/black
set color_highlight=white/dark-gray

menuentry "LumenOS @VERSION@" {
    linux @KERNEL_LIVE@ @APPEND_LIVE@
    initrd @INITRD_LIVE@
}
menuentry "LumenOS @VERSION@ (messages on screen, for finding faults)" {
    linux @KERNEL_LIVE@ boot=live components hostname=lumenos live-config.nocomponents=user-setup,sudo,xinit,gdm3,lightdm,sddm,login,x-session-manager systemd.show_status=1
    initrd @INITRD_LIVE@
}
